{% block menu %}
<ul class="nav navbar-nav">
    <li id="menu_home"> <a href="{{ path('airazur_home') }}"><span class="glyphicon glyphicon-home"></span>   Accueil </a> </li>
    <li id="menu_cat" > <a href="{{ path('airazur_catalog') }}"><span class="glyphicon glyphicon-plane"></span>    Liste des vols</a> </li>
    <li id="menu_res" > <a href="{{ path('airazur_reservation') }}"><span class="glyphicon glyphicon-edit"></span>   Réservations</a> </li>
</ul>
<form class="navbar-right" method="POST" action="{{ path('user_logout') }}">
  <button type="submit" class="btn btn-primary navbar-btn" style="margin-right:20px">Déconnexion</button>
</form>    
{% endblock %}